.loader {
  @apply mx-auto mb-3 p-1 rounded;
  background: linear-gradient(75deg,  #fcfcfa, #000, #fcfcfa,#000, #fcfcfa);
  background-size: 230% 700%;
  animation: AnimationName 5s ease-in-out infinite reverse;

  .content {
    @apply px-3 bg-black text-sm;
  }
}

@keyframes AnimationName {
  0%{background-position:100% 10%}
  50%{background-position:250% 0%}
  100%{background-position:550% 90%}
}
