@import "tailwind";

@font-face {
  font-family: 'STARWARS';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/star-jedi.woff') format('woff');
}

h1 {
  font-size: 6vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 3vw;
}

h1, h2, h3 {
  font-family: 'STARWARS', sans-serif;
}

.star-wars {
  font-family: 'STARWARS';
}

html, body {
  margin: 0;
  background-color: black;
  color: whitesmoke;
  font-family: system-ui,
  -apple-system, /* Firefox supports this but not yet `system-ui` */
  'Segoe UI',
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji';
}

