$button-color: #fafafa;

.container {
  padding: 50px;
}

.button {
  text-transform: uppercase;
  font-weight: lighter;
  fonst-size: 1rem;
  background-color: black;
  color: $button-color;
  letter-spacing: 15px;
  text-align: center;
  border: 5px solid $button-color;
  padding: 50px;
  transition: 1s ease-out;
  border-radius: 100px;
  width: auto;
}

.button:hover {
  box-shadow: 0 5px 50px 0 $button-color inset, 0 5px 50px 0 $button-color, 0 5px 50px 0 $button-color inset, 0 5px 50px 0 $button-color;
  text-shadow: 0 0 5px $button-color;
}
